html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spectral', serif;
    font-size: 1.5em;
    background-color: #F8F8FF;
    padding: 15px;
    margin: 0;
    max-width: 1200px;
}

.menu {
    padding: 15px 15px;
    margin: 10px;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    list-style-type: none;
    display: inline-block;
    text-align: right;
    background: lightgray;background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0.8;
    max-width: 250px;
    border-radius: 3px;
}

.menu-link{
    color: white;
    text-decoration: none;
    text-transform: UPPERCASE;
}

main{
    position: relative;
}

table {
    max-width: 600px;
    margin: 0 auto;
    font-size: 22px;
}

table,
th,
td {
    font-family: 'Source Code Pro', monospace;
    border: 2px solid lightgray;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
}

table,
.md-table {
    overflow-x: auto;
}

.blockquote {
    border-left: 5px solid gray;
    padding: 10px 20px;
}