* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px 20px;
    font-family: 'Spectral', serif;
    font-size: 25px;
    background-color: #F8F8FF;
    max-width: 1200px;
    text-align: justify;
}

.menu-btn {
    display: block;
    font-size: 60px;
    cursor: pointer;
    padding: 10px 10px;
    float: right;
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    text-align: right;
}

.close-nav {
    margin: 0;
    font-size: 70px;
    text-align: left;
    cursor: pointer;
}

.menu {
    font-size: 1.5rem;
    font-weight: bold;
    display: none;
    height: 100%;
    float: right;
    top: 0;
    right: 0;
    padding: 10px 50px;
    position: fixed;
    z-index: 100;
    list-style-type: none;
    vertical-align: top;
    text-align: right;
    line-height: 45pt;
    background: lightgray;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    opacity: 0.8;
    width: 350px;
    border-top: solid orange 5px;
    border-bottom: solid orange 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.menu-link {
    color: white;
    text-decoration: none;
    text-transform: UPPERCASE;
}

.menu-link:hover,
.close-nav:hover,
.menu-btn:hover {
    color: orange;
}

main,
table {
    margin: 0 auto;
}

h2, h3 {
    text-align: center;
    margin-top: 20px;
    text-transform: UPPERCASE;
}

table {
    max-width: 600px;
    font-size: 22px;
}

table,
th,
td {
    background-color: #2C001E;
    color: #F6F6F5;
    font: 1.3rem 'Ubuntu', monospace;
    border-left: hidden;
    border-right: 5px solid orange;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    padding: 8px;
}

.blockquote {
    border-left: 5px solid gray;
    padding: 10px 20px;
}

/*TABLET MEDIA QUERY*/
@media screen and (max-width: 1000px) {
    .menu {
        font-size: 3.5rem;
        line-height: 55pt;
        width: 450px;
    }
}

/*MOBILE MEDIA QUERY*/

@media screen and (max-width: 690px) {
    .menu {
        font-size: 3.5rem;
        line-height: 65pt;
        width: 500px;
    }
}